{{#if data.user}}

<section>
  <div class="container d-flex justify-content-center" style="margin-bottom:10%;margin-top:8%">


    <div class="col-sm-12 col-md-8">
      <h1 class="title">Available Lessons</h1>
      <div class=row>
        <div class="card mb-3 col-md-6">
          <img class="card-img-top" src="images/git.png" alt="Card image cap">
          <div class="card-body lesson-card">
            <h5 class="card-title">Lesson 1: Git & Version Control</h5>
            <p class="card-text">A Distributed Version Control System (DVCS) is a system that records changes to a set
              of files so
              you can recall versions later.</p>
            <div class="col-md-12 d-flex justify-content-center">
              <a href="/lessons/1" class="btn btn-info">Go to lesson</a>
            </div>
          </div>
        </div>


        <div class="card mb-3 col-md-6">
          <img class="card-img-top" src="/images/html.jpg" alt="Card image cap">
          <div class="card-body lesson-card">
            <h5 class="card-title">Lesson 2: HTML basics</h5>
            <p class="card-text">In this lesson we'll introduce you to HTML (Hypertext Markup Language), the standard
              language of the Web.</p>
            <div class="col-md-12 d-flex justify-content-center">
              <a href="/lessons/2" class="btn btn-info">Go to lesson</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card mb-3 col-md-6">
          <img class="card-img-top" src="/images/css3.jpg" alt="Card image cap">
          <div class="card-body lesson-card">
            <h5 class="card-title">Lesson 3: Prettifying with CSS</h5>
            <p class="card-text"> This lesson will introduce you to CSS, the skin of your webpage. Things will never
              look the same again!</p>
            <div class="col-md-12 d-flex justify-content-center">
              <a href="/lessons/3" class="btn btn-info">Go to lesson</a>
            </div>
          </div>
        </div>


        <div class="card mb-3 col-md-6">
          <img class="card-img-top" src="/images/javascript.jpg" alt="Card image cap">
          <div class="card-body lesson-card">
            <h5 class="card-title">Lesson 4: JS #1 - Variables</h5>
            <p class="card-text">Our first lesson on JavaScript: the language that will soon become your worst enemy...
              and your best friend</p>
            <div class="col-md-12 d-flex justify-content-center">
              <a href="/lessons/4" class="btn btn-info">Go to lesson</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="card mb-3 col-md-6">
          <img class="card-img-top" src="/images/javascript.jpg" alt="Card image cap">
          <div class="card-body lesson-card">
            <h5 class="card-title">Lesson 5: JS #2 - Data Types</h5>
            <p class="card-text">Are you ready to finish the prework and finally start your Ironhack journey? Let's see
              if you can identify these JavaScript data types.</p>
            <div class="col-md-12 d-flex justify-content-center">
              <a href="/lessons/5" class="btn btn-info">Go to lesson</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{else}}
  <h2 class="home">Please login or signup to access the course content</h2>

  {{/if}}

</section>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/javascripts/catLogin.js"></script>