body {
  margin: 0;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.logo {
  height: 2.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.formpage,
.classmates,
.learning,
#error {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  justify-content: center;
  align-self: center;
}

.sectiontitle {
  margin-bottom: 2rem;
}

.formbutton {
  margin-top: 1rem;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 1.5rem;
}

.right-item {
  display: flex;
  align-self: center;
  justify-self: center;
  line-height: 2.5rem;
}

.profile-img {
  width: 40px;
  height: 40px;
}

#hello {
  text-align: center;
}

.main {
  justify-content: center;
  align-self: center;
}

.error {
  color: red;
}

#breadcrumblist {
  justify-content: flex-start;
  height: 2rem;
  font-size: 0.9rem;
}

.upper {
  position: fixed;
  top: 4rem;
  display: flex;
  height: 2.2rem;
  justify-content: space-between;
  background-color: #e9ecef;
  z-index: 500;
}

.progress {
  height: 2.2rem;
  min-width: 35rem;
  max-width: 35rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progressbg {
  height: 2.2rem;
  min-width: 30rem;
  max-width: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progress-bar {
  height: 2.2rem;
  max-width: 28rem;

}

.progresslabel {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  align-self: center;
  margin-right: 0.5rem;
}

/* classmates */

#img-classmates {
  width: 100%;
}

.landing {
  position: relative;
  background: url("../img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/*learning*/

.learning {
  font-size: 1rem;
}
.title {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.commentable-section {
  margin-top: 1.2rem;
}

.sublead {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}

.lessonpic {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quiztitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-color: #000000;
  padding: 2rem;
}

.quizinput {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  line-height: 1.4rem;
}

.classmate-profile,
.create-profile {
  margin-top: 120px;
  margin-bottom: 90px;
  padding-bottom: 90px;
  margin-left: 25%;
}

.profiles {
  margin-top: 120px;
  margin-bottom: 150px;
}

.edit-profile {
  margin-top: 100px;
  margin-bottom: 100px;
}

.profile {
  margin-top: 120px;
  margin-bottom: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 60px;
  padding-left: 3rem;
  padding-right: 1rem;
  color: #ffffff;
  background-color: #1e2434;
  z-index: 500;
}

.social {
  width: 12rem;
}
.social-fa {
  margin-right: 0.8rem;
}

.social-link {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #1e2434;
}

.reply-comment {
  display: none;
}

//Avatar route

#hidden-input {
  display: none;
}

<<<<<<< HEAD
#next-lesson {
  margin: 0.25rem;
=======
#next-lesson{
  margin: 0.35rem;
>>>>>>> 1703ad89690d8e2c5ca035713ed624afa47548b3
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.quizcheckbox {
  margin-left: 1rem;
}

.card-img-top {
  width: 100%;

  border-style: solid;
}

img.card-img-top {
  height: 125px;
}

.lesson-card {
  border-style: solid;
}

@media (max-width: 576px) {
  #breadcrumblist,
  .signoff,
  .socialicons {
    display: none;
  }
  .footer {
    justify-content: flex-end;
  }
}
